<nav
  class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top"
  aria-label="Main navigation"
>
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" [routerLink]="['']">
      <img
        src="assets/logo-placeholder.png"
        alt="Logo del Consultorio"
        width="40"
        height="40"
        class="me-2"
      />
      <span class="fw-bold text-primary">CONSULTORIO LAVALLE</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Alternar navegación"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto me-3">
        <li class="nav-item">
          <a class="nav-link custom-hover" [routerLink]="['']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-hover" [routerLink]="['']"
            >Especialidades</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link custom-hover" [routerLink]="['paciente/:id']"
            >Mis Turnos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link custom-hover" [routerLink]="['estadisticas']">
            <i class="bi bi-graph-up"></i>
            Estadísticas
          </a>
        </li>
      </ul>

      <a class="btn btn-primary" [routerLink]="['login']">Login</a>
    </div>
  </div>
</nav>
